body {
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: black;
}

nav {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

ul,
li {
  display: inline;
  margin: 0;
  padding-right: 10px;
  align-content: space-between;
}
#sep {
  height: 2px;
  width: 100%;
  background-color: rgb(235, 232, 232);
}
#sg {
  display: inline;
  float: left;
  margin-top: 10px;
}

#sg2 {
  float: left;
  padding: 4px;
}

#container {
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 0%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: inherit;
}

.div3 {
  background-color: rgb(235, 232, 232);
  width: 40%;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.div4 {
  background-color: white;
  width: 60%;
  height: 100%;
}

.formdiv {
  text-align: left;
  margin-left: 20%;
  margin-right: 15%;
}
.error {
  color: red;
  font-size: 12px;
}

#hdiv {
  padding-left: 5%;
  padding-right: 5%;
}

#info {
  padding-right: 60px;
}

#imgdiv {
  margin-top: 15%;
  text-align: center;
}

#x {
  border-radius: 30px;
  border: 8px solid black;
  height: 400px;
  width: 200px;
}

#subbtn {
  color: white;
  background: rgb(247, 22, 134);
  border-color: rgb(247, 22, 134);
  padding: 6px;
  width: 100%;
  height: 35px;
  border-width: 0px;
  border-radius: 5px;
  margin-left: 3.5px;
}
#terms {
  margin-left: 14px;
  font-size: 10px;
}

#btn1 {
  background-color: white;
  border-color: rgb(221, 220, 220);
  border-radius: 5px;
  box-shadow: 0;
  width: 80px;
  height: 30px;
  border-style: solid;
}

#iid {
  font-size: 13px;
}
#regdiv {
  margin-top: 6%;
  padding-right: 25%;
  width: 60%;
}

#regdiv input {
  width: 100%;
  height: 25px;
  border-radius: 4px;
  border-width: 2px;
  border-color: rgb(221, 220, 220);
  border-style: solid;
}

@media (max-width: 768px) {
  h1 {
    font-size: 20px;
  }
  #regdiv p {
    font-size: 10px;
  }
  #iid {
    font-size: 10px;
  }
  #sg2 {
    font-size: 13px;
  }
  .error {
    font-size: 10px;
  }
  #btn1 {
    width: 60px;
    height: 25px;
  }
  #btntxt {
    font-size: 10px;
  }
  #info {
    padding-right: 35px;
  }
  #hdiv {
    padding-right: 35px;
  }
  #x {
    border-radius: 25px;
    border: 5px solid black;
    height: 350px;
    width: 170px;
  }
}

@media (max-width: 520px) {
  h1 {
    font-size: 15px;
  }
  #regdiv p {
    font-size: 10px;
  }
  #iid {
    font-size: 10px;
  }
  #sg2 {
    font-size: 10px;
  }
  .error {
    font-size: 10px;
  }
  #btn1 {
    width: 60px;
    height: 25px;
  }
  #btntxt {
    font-size: 10px;
  }
  #info {
    font-size: 12px;
    padding-right: 3px;
  }
  #hdiv {
    padding-right: 35px;
  }
  #x {
    border-radius: 25px;
    border: 3px solid black;
    height: 290px;
    width: 110px;
  }
  #y {
    font-size: 13px;
  }
  #regdiv input {
    width: 100%;
    height: 20px;
    border-radius: 4px;
    border-width: 2px;
    border-color: rgb(221, 220, 220);
    border-style: solid;
  }
  #regdiv {
    margin-top: 6%;
    padding-right: 25%;
    width: 70%;
  }
  #subbtn {
    padding: 3px;
    width: 100%;
    height: 30px;
    border-width: 0px;
    border-radius: 5px;
    margin-left: 3.5px;
    font-size: 10px;
  }
  #logo {
    width: 80px;
    height: 50px;
  }
}
