body {
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: black;
}

nav {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

ul,
li {
  display: inline;
  margin: 0;
  padding-right: 10px;
  align-content: space-between;
}

#sg {
  display: inline;
  float: left;
  margin-top: 10px;
}

#sg2 {
  float: left;
  padding: 5px;
}

#container {
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 0%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: inherit;
}

.div3 {
  background-color: rgb(221, 217, 217);
  width: 40%;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.div4 {
  background-color: white;
  width: 60%;
  height: 100%;
}

.formdiv {
  text-align: left;
  margin-left: 20%;
  margin-right: 15%;
}
.error {
  color: red;
  font-size: 12px;
}

#hdiv {
  padding-left: 5%;
  padding-right: 5%;
}

#imgdiv {
  margin-top: 15%;
  padding-left: 10%;
  text-align: center;
}

#subbtn {
  color: white;
  background: rgb(247, 22, 134);
  border-color: rgb(247, 22, 134);
  padding: 6px;
  width: 100%;
  border-width: 0px;
}
#btn1 {
  border-color: white;
  width: 80px;
  height: 30px;
}

#iid {
  font-weight: lighter;
  font-size: 15px;
}
#regdiv {
  margin-top: 6%;
  padding-right: 25%;
  width: 60%;
}

#regdiv input {
  width: 100%;
}

@media (max-width: 768px) {
  h1 {
    font-size: 20px;
  }
  p {
    font-size: 10px;
  }
  #iid {
    font-size: 10px;
  }
  #sg2 {
    font-size: 13px;
  }
  .error {
    font-size: 10px;
  }
  #btn1 {
    width: 60px;
    height: 25px;
  }
  #btntxt {
    font-size: 10px;
  }
}
